#nav{
    margin-left: 300px;


}
#nav-principal{
    position: fixed;
    width: 2000px;
    top: -10px;

}

.icon{
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
    width: 30px;
    height: 30px;
}
.nav-link{
    text-align: center;
    color: #000000;

}
.osepose-logo{
    height: 50px;
    margin-left: 20px;
}
.input-sm-form-control{
    margin-left: 200px;
    width: 500px;

}

