.slider-size {
	height: 100%;
}
.slider-size > img {
	width: 100%;
}

.container-fluid{
    padding-top:10px;
    background-color: #eee;
}

.carousel-caption{
    background-color: rgba(0,0,0,0.5);
}

#carousel-sports{
    height: 571px;
}

img#logo {
    height: 54px;
}

.panel-content {
    height: 441px;
    margin-top: 154px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.75);
}

.bg-faded {
    background-color: #f9ec31;
}

.h-perso
{
margin: 2px 2px 2px 2px;
}



footer
{
    padding-bottom:5px;
    padding-top:5px;
    color:white;
    text-align:center;
    font-size:1.2em;
}

.erreur
{
    color:red;
    font-size:1.1em;
    display:none;
    margin-left:50%;
    width:25%;
}

#multiple-select
{
padding:4px;
background:white;
 border: 1px solid #000000;
 height:auto;
 width:80%;

}

#multiple-select:hover img, #multiple-option:hover #arrow 
{
opacity:0.4;
}

#multiple-option
{
position:absolute;
z-index:10;
display:none;
background:white;
 border: 1px solid #464a4c;
 height:80px;
 overflow:auto;
}

.défie{
    margin-left: 140px;
    margin-top: 80px;

}
#connexion{
    margin-right: 50px;
    margin-left: -55px;
}

#helpBlock{
    margin-right: 200px;
    margin-bottom: -60px;
}
#pwd{
    margin-right: -215px;
}

#bas_de_page{
    height: 70px;
    margin:0px;
    background-color: rgba(0,0,0,0.5);
}
.phrase_footer{
    margin-top: 20px;
}
#navigation{
    height: 90px;
}


